<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="logs/jbg-goxianhui"/>
	
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
			<maxFileSize>500MB</maxFileSize>
			<maxHistory>30</maxHistory>
      		<totalSizeCap>50GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<logger name="com.jiabiango" level="INFO" />
	<springProfile name="!pro">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
	<springProfile name="pro">
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
	
</configuration>
